<div id="welcome" class="center hero-unit cf">
  <h1>About SchoolHub</h1>
  <div id="about-images">
    <%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %>
  </div>
	<div id="about-text">
	   <p>Top schools that have programs in information technology (IT) include the Massachusetts Institute of Technology (MIT), Carnegie Mellon University and the University of Texas at Austin. Both MIT and the University of Texas offer undergraduate and graduate programs in information systems management, security and technology or other closely related fields of study; a doctoral concentration in information systems is available at the latter. Relevant programs at Carnegie Mellon University lead to graduate degrees..</p>
       <p>School Highlight: Students have the opportunity to pursue a dual master's program through a collaboration between MIT and the Singapore University of Technology and Design.
Through the Sloan School of Management, students can pursue undergraduate and graduate degree programs in information technology and related topics. These include systems design and management, finance, and distinct MBA programs..</p>
       <p>Just sign up for your classes this semester and then start SchoolHubing! Also, sign up for your interests to connect with your friends and other students at Michigan through shared interests!</p>
<!--
      <p>SchoolHub is the best way to stay up to date in the worlds of your interests.</p>
      <p>We all have our own passions. Some love sports, while others love music. That's what SchoolHub is all about -- Everything that you love!</p>
      <p>First, select your interests so that SchoolHub is tailored to you and only you. Then, use SchoolHub to update your friends by posting to your interests. So just add all of your friends, and let 
      the SchoolHubing begin!</p>
      -->
      <br />
      <h2>SchoolHub Terms</h2>
      <p><%= image_tag 'satellite.png' %> - Click this when you want to "Like" a post</p>
      <p><%= image_tag 'favorite.png', :height => "7.5%", :width => "7.5%" %> - Click this when you want to favorite a post. Once you do so, this post will be saved to your favorites</p>
      <p><strong>Rekast</strong> - Click this when you want to broadkast someone else's post</p>
      <p><%= image_tag 'facebook.png', :height => "2.5%", :width => "2.5%" %> - Click this when you want to share an existing post to Facebook or when you want to go to someone's Facebook profile page'</p>
    </div>
</div>
